<!DOCTYPE html>
<html>
   <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/indexCSS.css">
    </head>
    <body>
        <div class="banner">
            <div class="content">
                <!-- <h1>Secure Remote Password Demo</h1> -->
                <h1>Travel the world</h1>
                <p>Travel the world with us!</p>
            <div>
                <a href="register">
                    <button type="button"><span></span>Register</button>
                </a>
                <a href="login">
                   <button type="button"><span></span>Login</button> 
                </a>
            </div>
        </div>
        </div>
    </body>
</html>